{% extends 'base.html.twig' %}

{% block title %}
  About LeafOS
{% endblock %}

{% block body %}
  <article>
    <div class="banner">
      <div class="container">
        <h1>About</h1>
      </div>
    </div>
  </article>
{% endblock %}
