{% extends 'base.html.twig' %}
{% block title %}
  LeafOS ROM
{% endblock %}
{% block body %}
  <article class="home">
    <div class="banner">
      <div class="container">
        <h1>Welcome to the LeafOS!</h1>
        <p>LeafOS is a no-nonsense custom ROM designed to give you exactly what you need without the fluff. We've cut out the unnecessary clutter and included only the essentials, so you get a clean, efficient Android experience.</p>
        <p>Ready to upgrade your device? Let's get started with LeafOS!</p>
        <a href="{{ path('leaf_wiki') }}" class="button">Get LeafOS</a>
      </div>
    </div>
    <div class="container">
      <h2>Leaf Features</h2>
      <div class="features">
        <div class="card">
          <h3>Clean and Lightweight</h3>
          <p>Say goodbye to bloat and unnecessary add-ons. LeafOS is all about keeping things lean and mean, so your device runs smoother and faster than ever.</p>
        </div>
        <div class="card">
          <h3>Stability Guaranteed</h3>
          <p>We've focused on stability from the get-go. No random cherry-picks here – just a reliable ROM that keeps your device running like a dream.</p>
        </div>
        <div class="card">
          <h3>All the Necessary Features</h3>
          <p>LeafOS comes packed with all the essentials you need for a top-notch Android experience.</p>
        </div>
        <div class="card">
          <h3>Incremental OTA Updates</h3>
          <p>Get updates without the hassle. LeafOS delivers incremental OTA updates, so you save on downloading size while staying up-to-date with the latest features and improvements.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Keep your device for longer</h2>
      <p>With Leaf OS, you're not limited to your device's OEM upgrade range. Not only you can extend its lifespan, you can get more performance out of your device with a clean and lightweight OS.</p>
    </div>
    <div class="container">
      <div class="features">
        <div>
          <h2>Open-source, by default</h2>
          <p>You are in control. Everything is open-sourced, you can check for yourself what every app is doing, anytime.</p>
        </div>
        <div>
          <h2>Device not yet supported?</h2>
          <p>No problem! You can build the ROM for your device, and apply to be a maintainer for it.</p>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
