{% extends 'base.html.twig' %}

{% block title %}
  LeafOS ROM
{% endblock %}

{% block body %}
  <div class="content">
    <div class="banner">
      <div class="container">
        <h1>Welcome to the LeafOS!</h1>
        <p>LeafOS is an AOSP-based ROM, focused on stability.</p>
        <a href="{{ path('leaf_wiki')}}" class="get-leaf">Get LeafOS</a>
      </div>
    </div>
  </div>
{% endblock %}
