.device-info {
    display: flex;
}

.specs {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heading h2,
.heading p {
    text-align: center;
    margin: 0;
}

.heading p {
    font-size: small;
}

.sheet {
    display: flex;
    column-gap: 8px;
}

.specs img {
    max-width: 200px;
    object-fit: contain;
    align-self: center;
    padding: 1rem 0;
}


table {
    margin: 1rem 0;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

tr:not(:last-of-type) {
    border-bottom: 1px solid #888;

}

tbody {
    font-size: small
}

tbody p {
    padding: 0;
    margin: 0;
}

tbody ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

tbody td:nth-child(2) {
    text-align: right;
}

.instructions {
    flex: 2;
}