{% extends 'base.html.twig' %}

{% block title %}
  LeafOS 404 - {{ subject|capitalize }} not found.
{% endblock %}

{% block body %}
  <div class="content">
    <div class="banner">
      <div class="container">
        <h1>404 - {{ subject|capitalize }} not found!</h1>
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
{% endblock %}
