<footer>
  <div class="container">
    <h2>The LeafOS Project</h2>
    <p>Open-source, AOSP-based Android custom ROM</p>
    <p>© 2022-2023 The LeafOS Project</p>
  </div>
  <p class="footnote">
    Website designed and developed by <a href="http://rlazarotto.pages.dev" target="_blank">Firehawk</a>.
  </p>
</footer>
