div.main-content {
    min-height: calc(98vh - (64px /* topnav */) - (40px * 2 + 16px /* footer */));
}

footer {
  font-size: 16px;
  text-align: center;
  padding: 40px;
  background-color: #f8f9fa;
}
