{% extends 'base.html.twig' %}

{% block title %}
  LeafOS Gallery
{% endblock %}

{% block body %}
  <article class="gallery">
    <div class="banner">
      <div class="container">
        <h1>ROM Gallery</h1>
      </div>
    </div>
    <div class="screenshot-gallery">
      {% for screenshot in screenshots %}
        <img src="{{ asset('assets/images/screenshots/' ~ screenshot) }}" alt="Screenshot" />
      {% endfor %}
    </div>
  </article>
{% endblock %}
