{% extends 'base.html.twig' %}

{% block title %}
  LeafOS Gallery
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ asset('assets/gallery.css') }}" />
{% endblock %}

{% block body %}
  <div class="content">
    <div class="banner">
      <div class="container">
        <h1>ROM Gallery</h1>
      </div>
    </div>
    <div class="grid">
      {% for screenshot in screenshots %}
        <img src="{{ asset('assets/images/screenshots/' ~ screenshot) }}" alt="Screenshot" />
      {% endfor %}
    </div>
  </div>
{% endblock %}
