{% extends 'base.html.twig' %}

{% block title %}
  LeafOS Wiki
{% endblock %}

{% block body %}
  <aside>
    <h2>Devices</h2>

    <ul>
      {% for device in availableDevices %}
        <li>
          <a href="{{ path('leaf_device', { device: device.codename }) }}">{{ device.codename }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
  <article>
    <div class="banner">
      <div class="container">
        <h1>Welcome to the LeafOS wiki!</h1>
        <p>You can find various information, how-tos, build instructions and much more here in our wiki.</p>
      </div>
    </div>
  </article>
{% endblock %}
