{% extends 'base.html.twig' %}

{% block title %}
  LeafOS Wiki
{% endblock %}

{% block body %}
  <aside>
    <h2>Devices</h2>

    <ul>
      {% for vendor, devices in deviceVendors %}
        <li>
          <a href="#" class="vendor-dropdown" data-vendor="{{ vendor }}">{{ vendor }}</a>
          <ul class="dropdown-menu" style="display: none;">
            {% for device in devices %}
              <li>
                <a href="{{ path('leaf_device', { device: device.codename }) }}">{{ device.codename }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <article>
    <div class="banner">
      <div class="container">
        <h1>Welcome to the LeafOS wiki!</h1>
        <p>You can find various information, how-tos, build instructions and much more here in our wiki.</p>
      </div>
    </div>
  </article>
{% endblock %}
